.container
  = simple_form_for @checklist_template do |f|
    = f.input :items, label_method: :task, collection: Item.all, input_html: { multiple: true }, label: false
    = f.button :submit, class: 'btn-secondary'
